/*폰트 링크*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*리셋*/
* {margin: 0; padding: 0; border: none;box-sizing: border-box;}
a {text-decoration: none;color: #fff;}
ol, ul, li { list-style: none;}
button {cursor: pointer;}
em{font-style: inherit;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}

/*드래그 방지*/
body{  -ms-user-select: none; -moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}

/*기본 폰트 스타일, 컬러*/
body {font-family: 'Noto Sans KR', sans-serif; color: #fff; overflow:hidden;overflow-y: scroll;}
img{width: 100%;}
button{font-family: 'Noto Sans KR', sans-serif;}
.flex{display: flex;}
.column{flex-direction: column;}
.space{justify-content: space-between;}
.align-center{align-items: center;}
.just-center{justify-content: center;}
.fff{color: #fff;}

/*통합*/
.container{margin: 0 auto;width: 1680px;}
.container-main{margin: 0 auto;width: 1680px;}
.slide-container{width: 100%;margin: 0;padding-bottom: 360px;}
.icon{width: 40px;}
.arrow { position: relative;width: 9px;height: 1px;margin-right: 3px;transition: 0.8s;transform: rotate(135deg); } 
.arrow::after { position: absolute; left: 0; top: 0; content: ''; width: 6px;height: 6px; border-top: 2px solid #191919;border-right: 2px solid #191919; }
.sub-title-gray{color: #808080;font-size: 20px;}
.article-title{font-size: 32px;}
.article-txt{font-size: 24px;}
.line{width: 100%;height: 2px;background-color: #fff;margin: 40px 0 38px 0;}
.pdt-25{padding-top: 25px !important;}
.pdb-20{padding-bottom: 20px !important;}
.pdb-40{padding-bottom: 40px !important;}
.pdb-160{padding-bottom: 160px !important;}
.pdb-200{padding-bottom: 200px !important;}
.pdb-360{padding-bottom: 360px !important;}
.mt-65{margin-top: 65px;}
.fs-80{font-size: 80px;font-weight: bold;}
.pt-arrow{position: absolute;bottom: 95px;left: 50%;transform: translateX(-50%);}
.fs-13{font-size: 13px;}
.fs-20{font-size: 20px;}
.platform-title{font-size: 40px;font-weight: bolder;padding-bottom: 40px;}
.platform-sub-title{font-size: 40px;font-weight: 400;}
.platform-sub-title2{font-size: 40px;font-weight: 400;}
.platform .pm , .pb, .contact{background-color: #1e1e1e;}

/*헤더*/
header{width: 100%;height: 96px;background-color:inherit;background-color: #252525;z-index: 9999;}
header .header-logo{width: 48px;height: 48px;z-index: 20;}
header .header-logo img{width: 32px;cursor: pointer;}
header .hamMenu{width: 32px;height: 32px;padding: 7px 3px;cursor: pointer;}
header .hamMenu .ham{width: 100%;height: 2px;background-color: #fff;border-radius: 5px;z-index: 20;margin-top: 2px;margin-bottom: 5px;transition: 0.8s;position: relative;}
header .hamMenu .ham:nth-child(1).activeHam{transform: rotate(45deg)translateY(5px);margin-left: 5px;margin-top: 5px;}
header .hamMenu .ham:nth-child(2).activeHam{display: none;}
header .hamMenu .ham:nth-child(3).activeHam{transform: rotate(-45deg)translateY(-5px);margin-left: 5px;}
header .hamMenuList{width: 100%;height: 100%;position: fixed;top: -100%;left: 0;transition: 0.8s; background-color:#121212;z-index: 15;}
header .hamMenuList.activeMenu{top: 0;}
header .menu-wrap{position: absolute; left: 28.5%;top: 22%;}
header .menu-wrap .menu-list{padding-bottom: 40px;}
header .menu-list a{font-size: 48px;}
header .menu-list a:hover{font-weight: 500;}

/*메인*/
.h100top{width: 100%;height:calc(100vh - 96px);background-color: #252525;position: relative;z-index: 10;}
.main .length-txt{writing-mode: vertical-lr;text-orientation: mixed;transform: rotate(180deg);}
.main .main-left, .main .main-empty{padding: 0 40px;height: 100%;}
.main .main-top{padding-top: 64px;}
.main .main-right .intro1 img{width: 24px;margin-left: 12px;}
.main .main-right .intro1{padding-bottom: 28px;font-size: 16px;}
.main .main-right .intro2{align-items: end;}
.main .main-right .intro2 h2{padding-right: 32px;font-size: 32px;}
.main .main-right .intro2 h3{padding-right: 32px;font-size: 24px;}
.main .main-right .platform-wrap{width: 100%;height: 100%;margin: 0 auto;height: 261px;}
.main .main-right span{font-weight: 400;}
.main .main-mid .platform-title{font-size: 20px;padding-bottom: 20px;}
.main .platform-box{overflow: hidden;width: 10%;height: 100%;}
.main .platform-box:nth-child(1){background-color: #000;}
.main .platform-box:nth-child(2){background-color: #151515;}
.main .platform-box:nth-child(3){background-color: #343434;}
.main .platform-box:nth-child(4){background-color: #545454;}
.main .platform-box{width: 144px;transition: 0.8s;cursor: pointer;min-height: 280px;}
.main .platform-box .open-wrap{box-sizing: border-box;padding: 40px 15px 78px 40px;display: none;}
.main .platform-box .close-wrap{padding-top: 40px;cursor: default;}
.main .platform-box .open-wrap p{font-weight: bold;}
.main .platform-box .open-wrap p span{font-size: 13px;margin-left: 32px;font-weight: 400;}
.main .platform-box .platform-title{line-height: 1.3;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main .platform-box.open{width: calc(100% - 432px);height: 280px;}
.main .platform-box.open .close-wrap:first-child{display: none;}
.main .platform-box.open .close-wrap.none{display: none;}
.main .platform-box.open .open-wrap{display: flex;cursor: default;position: relative;}
.main .platform-box.open .open-wrap .open-right{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.main .main-bt{padding-bottom: 168px;}

/*텍스트 슬라이드*/
.slide-txt .slide-txt-top{position: sticky;bottom: 50vh;opacity: 0;width: 100%;text-align: center;height: 90px;}
.slide-txt .slide-txt-mid{position: sticky;bottom: 50vh;opacity: 0;width: 100%;text-align: center;height: 90px;}
.slide-txt .slide-txt-top p{padding-bottom: 30px;}
.slide-txt .slide-txt-top h1{font-size: 40px;padding-bottom: 30px;}
.slide-txt .slide-txt-mid p{font-size: 24px;font-weight: bold;text-align: center;}
.slide-txt .slide-txt-bt{width: 1px;height: 120px;background-color: #808080;position: sticky;overflow: hidden;bottom: 37px;margin: 0 auto;}
.slide-txt .slide-txt-bt::before{content: '';position: absolute;top: 0;left: 0;display: block;width: 1px;height: 32px;background-color: #fff;-webkit-animation: upndown 1.8s infinite; animation: upndown 1.8s infinite;}
.animate_1{animation: opacity 0.5s linear;}
.about .about-top2{height: 2200px;}
.animate {position: sticky;top: 45vh;opacity: 0;font-size: 40px;width: 100%;height: 90px;text-align: center;}
.trigger {width: 100%;height: 10px;margin-bottom: 900px;}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes upndown {
    0%{top: -32px;}
    100%{top: 120px;}
}

/*어바웃 & 케리어*/
.about header{background-color: #000;}
.about .about-wrap{z-index: 10;background-color: #000;}
.about .about-top{background-color: #000;height: 1174px;}
.about .about-box{position: relative;width: 100%;height: fit-content;}
.about .about-nav{position: sticky;top: 0;left: 0;width: 100%;height: 54px;background-color: #000;z-index: 2;}
.about .about-box  .about-nav ul{background: #000;height: 54px;}
.about .about-box  .about-nav.fixed{position: sticky;top: 0;z-index: 999;}
.about .about-box ul .about-menu a{padding:15px 30px;background-color: #000;color: #999999;cursor: pointer;transition: 0.3s;height: 54px;line-height: 54px;text-align: center;}
.about .about-box  ul .about-menu a:hover{background-color:#eaeaea ;color: #000;}
.about .about-box  ul .about-menu a.on{background-color:#eaeaea ;color: #000;}
.about .about-article{background-color: #1e1e1e;}
.about .about-vision, .about .about-value, .about .about-partnership, .about .about-history{padding-top: 174px;}
.about-partnership, .about .about-history{padding-top: 185px;}
.about .about-ani-wrap{padding:160px 0 186px 0;}
.about .ani-box-top{min-width:390px;min-height: 390px;width: 100%;height: 100%;background-color: #000;border-radius: 25px;}
.about .ani-box-bt{font-size: 16px;padding-top: 21px;text-align: center;}
.about .about-value-box{width: calc(100% / 2 - 40px);padding-bottom: 186px;}
.about .value-top{font-size: 40px;font-weight: bolder;}
.about .value-article{font-size: 20px;padding-top: 46px;}
.about .value-sub-title{font-size: 32px;}
.about .about-partnership .article-title{text-align: center;padding-bottom: 80px;}
.about .logo-ani-wrap{position: relative;}
.about .logo-ani-wrap .blur-box{position: absolute;width: 35%;height: 100%;top:0;z-index: 1;}
.about .logo-ani-wrap .blur-box:nth-child(1){left: 0;background: linear-gradient(to right, #1e1e1e, #3a3a3a05);}
.about .logo-ani-wrap .blur-box:nth-child(2){right: 0;background: linear-gradient(to left, #1e1e1e, #3a3a3a05);}
.about .logo-ani-box{background-color: inherit !important;animation: logo-set 120s infinite;animation-play-state: running;animation-timing-function: linear;}
.about .logo-ani-box2{animation-direction: reverse;}
  
@keyframes logo-set{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

.about .logo-ani-box img:hover{filter: brightness(25%) invert(95%);}
.about .logo-ani-box:nth-child(4){padding: 80px 0;}
.about .logo-ani-box img{height: 48px;width: auto;padding:0 100px;filter: grayscale(1);}
.about .about-partnership{padding-bottom: 175px;}
.about .article-title{padding: 20px 0 160px 0;font-weight: 500;}
.about .since {font-size: 160px;font-weight: bolder;padding-right: 505px;width: 189px;}
.about ul .since{padding-top: 40px;} 
.about .since-wrap{font-size: 160px;font-weight: bolder;}
.about .history-article li{font-size: 22px;position: relative;width: fit-content;margin-right: 0;padding-top: 0px;}
.about .history-article li:first-child, .about .history-article li.first{padding-top: 105px;}
.about .history-article li .dot{width: 10px;height: 10px;background-color: #fff;display: block;border-radius: 50%;margin-top: 14px;margin-right: 10px;}
.about .history-article ul > div{width: fit-content;}
.about .history-article ul.s1{margin-bottom: 182px;}
.about .history-article ul.s6{padding-bottom: 194px;padding-top: 192px;}
.about .about-history-ani{width: 100%;}
.about .about-history-ani .history-article{width: 100%;}
.about .since-ani{position:sticky;top: 440px;padding:40px 0 195px 0;height: fit-content;}
.svg-elem-1 {-webkit-animation: animate-svg-stroke-1 10s  infinite;animation: animate-svg-stroke-1 10s  infinite;animation-timing-function: ease-in-out;}


@-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1395.98486328125px;
      stroke-dasharray: 1395.98486328125px;
    }
    50%{
        stroke-dashoffset: 0;
        stroke-dasharray: 1395.98486328125px;}
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1395.98486328125px;
    }
}
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1395.98486328125px;
      stroke-dasharray: 1395.98486328125px;
    }
    50%{
        stroke-dashoffset: 0;
        stroke-dasharray: 1395.98486328125px;}
    100% {
        stroke-dashoffset: 2791.9697265625px;
        stroke-dasharray: 1395.98486328125px;
    }
}
.about .circle-ani{position: relative;width: 266px;height: 266px;}
.about .circle-ani > div{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.about .circle-ani > div:nth-child(1){width: 266px;height: 266px;border: 3px solid #fff;border-radius: 50%;animation: circleani1 5s infinite;}
.about .circle-ani > div:nth-child(2){width: 160px;height: 160px;border: 3px solid #fff;border-radius: 50%;animation: circleani2 5s infinite;}
.about .circle-ani > div:nth-child(3){width: 53px;height: 53px;border: 3px solid #fff;border-radius: 50%;animation: circleani3 5s infinite;}

@keyframes circleani1 {
    0%{
        height: 266px;
        top: 50%;
    }
    10%{
        height: 270px;
        top: 50%;
    }
    50%{
        height: 54px;
        top: 90%;
    }
    70%{
        height: 54px;
        top: 90%;
    }
    100%{
        height: 266px;
        top: 50%;
    }
}
@keyframes circleani2 {
    0%{
        height: 160px;
        top: 50%;
    }
    10%{
        width: 160px;
        height: 164px;
        top: 50%;
    }
    50%{
        width: 266px;
        height: 54px;
        top: 50%;
    }
    70%{
        width: 266px;
        height: 54px;
        top: 50%;
    }
    100%{
        width: 160px;
        height: 160px;
        top: 50%;
    }
}
@keyframes circleani3 {
    0%{
        height: 53px;
        top: 50%;
    }
    10%{
        width: 53px;
        height: 57px;
        top: 50%;
    }
    50%{
        width: 266px;
        height: 54px;
        top: 10%;
    }
    70%{
        width: 266px;
        height: 54px;
        top: 10%;
    }
    100%{
        width: 53px;
        height: 53px;
        top: 50%;
    }
}

.about .circle-ani2{position: relative;width: 266px;height: 266px;}
.about .circle-ani2 > div{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.about .circle-ani2 > div:nth-child(1){width: 266px;height: 266px;border: 3px solid #fff;border-radius: 50%;}
.about .circle-ani2 > div:nth-child(2){width: 100px;height: 266px;border: 3px solid #fff;border-radius: 50%;animation: circleani11 5s infinite;}
.about .circle-ani2 > div:nth-child(3){width: 266px;height: 100px;border: 3px solid #fff;border-radius: 50%;animation: circleani22 5s infinite;}

@keyframes circleani11 {
    0%{
        width: 100px;
    }
    10%{
        width: 104px;
    }
    50%{
        width: 200px;
    }
    70%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
@keyframes circleani22 {
    0%{
        height: 100px;
    }
    10%{
        height: 104px;
    }
    50%{
        height: 200px;
    }
    70%{
        height: 200px;
    }
    100%{
        height: 100px;
    }
}


.career .work-wrap .work-box{min-height: 636px; width: calc(100% / 2 - 40px);border-radius: 25px;padding: 65px 60px;height: 100%;}
.career .work-wrap .work-box:first-child{background-image: url(../img/careerWork1.png);background-size: cover;color: #191919;}
.career .work-wrap .work-box:last-child{background-image: url(../img/careerWork2.png);background-size: cover;}
.career .benefit-slide{position: relative;}
.career .benefit-box{min-height: 390px;width: 390px !important;height: 100%;background-color: #000;padding: 44px 42px;border-radius: 25px;}
.career .benefit-box:first-child{margin-left:0;}
.career .icon, .contact .icon{width: 32px;}
.career .recurit-empty{width: 24px;}
.career .title{font-size: 24px;padding:20px 0 ;}
.career .recurit-box:last-child{width: 65%;margin-top: 49px;}
.career .recurit-list li{padding: 30px 0;border-bottom: 1px solid #fff;}
.career .recurit-list .title{color: #808080;}
.career .recurit-list .menu{font-size: 20px; cursor: pointer;color: #808080;transition:0.8s;}
.career .recurit-list .menu:hover{color: #fff;}
.career .recurit-list .menu.activeClick{color: #fff;}
.career .recurit-list li p{width: calc(100% / 3 - 24px);}
.career .recurit-list .icon{width: 24px;}
.career .recurit-list .slide-article{padding-top: 80px;display: none;}
.career .slide-article .recurit-article-title{font-size: 20px;font-weight: bold; padding-bottom: 26px;}
.career .slide-article .recurit-article{width: 100%; font-size: 16px;position: relative;margin-left: 25px;}
.career .slide-article .recurit-article::before{content: '';width: 6px;height: 6px;background-color: #fff;display: block;border-radius: 50%;position: absolute;left: -15px;top: 50%;transform: translateY(-50%);}
.career .slide-article .article-box{margin-bottom: 80px;}
.career .slide-txt .slide-txt-top h1{padding-bottom: 68px;}
.career .slide-txt .slide-txt-mid p{font-size: 32px;font-weight: 400;}
.career .slick-track{display: flex;}

/*플랫폼*/
.platform .platform-wrap{background-color: #1e1e1e;width: 100vw; height: 100%;}
.platform .platform-next-slide{display: none;}
.platform .platform-next-slide.open{display: block;opacity: 1;transition: 0.8s;}
.platform .platform-next-slide.close{display: none;opacity: 0;}
.platform .h100top{height: 100vh;justify-content: flex-end;padding-bottom: 160px;}
.platform .pt{position: relative;background-position-x:50%;background-repeat: no-repeat;background-size: cover;justify-content: center;}
.platform .platform-ziqworld .pt{background-image: url(../img/platformZiqworld.png);}
.platform .platform-ziqnft .pt{background-image: url(../img/platformZiqnft.png);}
.platform .platform-zigquest .pt{background-image: url(../img/platformZigquest.png);}
.platform .platform-ziqwallet .pt{background-image: url(../img/platformZiqwallet.png);background-size: 100%;}
.platform .pt .arrow{width: 20px;z-index: 999999;background-color: #fff;}
.platform .pm{padding-top: 80px;position: relative;}
.platform .gradiant-box{width: 100%;height: 80px; background: linear-gradient(#3a3a3a05, #1e1e1e);position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}
.platform .pm-t{padding-bottom: 95px;}
.platform .pm-t-right .link-txt{padding-right: 110px;}
.platform .pm-t-right .link-txt > a{font-size: 24px;}
.platform .pm-t-right .link-txt > a > p{margin-right: 26px;}
.platform .pm-t-right .link-txt img{width: 24px;}
.platform .pm-b-line-box{width: 100%;height: 245px;border-bottom: 1px solid #3D3C41;}
.platform .pm-b-line-box > .container{height: 100%;align-items: flex-end;}
.platform .pm-b-left{padding-right: 183px;}
.platform .pm-b-left,.pm-b-right{padding-bottom: 40px;}
.platform .pb{width: 100%;height: 100%;position: relative;padding-top: 150px;padding-bottom: 200px;}
.platform .pb button.next-btn{width: 1106px;height: 400px; padding: 130px 140px;background-color: #fff;border-radius: 15px;}
.platform .pb a{width: 60%;}
.platform .pb a button.next-btn{width: 100%;}
.platform .pb .next-btn .sub-title-gray{text-align: left;padding-bottom: 24px;display: table-cell;}
.platform .pb .next-btn > .flex{align-items: flex-end;width: fit-content;}
.platform .pb .next-btn .fs-13{padding-left:32px;padding-bottom: 8px;}
.platform .platform-ziqnft .pb{padding-top: 260px;}
.platform .pm .pm-graph{position: absolute;bottom: -12%;left: 0;}
.platform .pm .pm-graph img{width: 2670px;}
.platform .pm .circle-box{min-width: 533px;min-height: 533px;max-width: 533px;max-height: 533px;width: 100%;height: 100%;border-radius: 50%;}
.platform .pm .circle-box.solid{background-image: url(../img/platformCircleSolid.svg);}
.platform .pm .circle-box.dashed{background-image: url(../img/platformCircleDashed.svg);}
.platform .platform-ziqnft .pm-b-right{padding-top: 50px;justify-content: flex-end;}
.platform .plus-box{position: relative;max-width: 120px; width: 100%;height: fit-content;margin:0 30px;animation: plus-ani 5s infinite}

@keyframes plus-ani{
    0%{transform: rotate(0deg);}
    15%{transform: rotate(0deg);}
    20%{transform: rotate(45deg);}
    40%{transform: rotate(45deg);}
    45%{transform: rotate(90deg);}
    65%{transform: rotate(90deg);}
    70%{transform: rotate(135deg);}
    95%{transform: rotate(135deg);}
    100%{transform: rotate(180deg);}
}
.platform .plus-box > div:first-child{width: 120px;height: 2px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #f67504;}
.platform .plus-box > div:last-child{width: 2px;height: 120px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #f67504;}
.platform .circle-box .sub-title-gray{text-align: left;padding-bottom: 25px;}
.platform .wallet-article{width: 55%;align-items: flex-start;}
.platform .wallet-article .pm-b-top{padding-bottom: 130px;}
.platform .wallet-ani-wrap{width: 100%;height: 750px;position: relative;}
.platform .wallet-ani{width: 100%;height: fit-content;position: absolute;bottom: 0;}
.platform .zig-ani-wrap{width: 100%;height: 500px;position: relative;}
.platform .zig-ani{width: 85%;height: fit-content;position: absolute;bottom: 0;right: 0;}
.platform button .platform-sub-title{font-weight: 500;}
.show{opacity: 1;}

/*직월드 애니메이션*/
.st0 {fill: none;stroke: #00F0FF;stroke-width: 2;   stroke-linecap: round;  stroke-linejoin: round;}
.platform .svg-elem-1 {-webkit-animation: animate-svg-stroke-20 3s ease 0s both;animation: animate-svg-stroke-20 3s ease 0s both;animation-play-state: paused;}
@-webkit-keyframes animate-svg-stroke-20 {
    0% {
      stroke-dashoffset: 3763.599853515625px;
      stroke-dasharray: 3763.599853515625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 3763.599853515625px;
    }
}
  
@keyframes animate-svg-stroke-20 {
    0% {
      stroke-dashoffset: 3763.599853515625px;
      stroke-dasharray: 3763.599853515625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 3763.599853515625px;
    }
}
/*직nft애니메이션*/
.wallet-ani-wrap svg{width: 2430px;position: absolute;right: 0;top: -230px;}
.sb0 {fill: url(#SVGID_1_);stroke: #FFFFFF;stroke-width: 2;}
.st1 {fill: url(#SVGID_2_);stroke: #FFFFFF;stroke-width: 2;}
.st2 {fill: #FFFFFF;}
.st3 { fill: url(#SVGID_3_);stroke: #FFFFFF;stroke-width: 2;}
.st4 {clip-path: url(#SVGID_5_);}
 @-webkit-keyframes animate-svg-stroke-11 {
    0% {
      stroke-dashoffset: 949.409423828125px;
      stroke-dasharray: 949.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 949.409423828125px;
    }
  }
  @keyframes animate-svg-stroke-11 {
    0% {
      stroke-dashoffset: 949.409423828125px;
      stroke-dasharray: 949.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 949.409423828125px;
    }
  }
  @-webkit-keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_1_");
    }
  }
  @keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_1_");
    }
  }
.wallet-svg-ani-1 {
    -webkit-animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                         animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
            animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                 animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 949.409423828125px;
      stroke-dasharray: 949.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 949.409423828125px;
    }
  }
  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 949.409423828125px;
      stroke-dasharray: 949.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 949.409423828125px;
    }
  }
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_2_");
    }
  }
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_2_");
    }
  }
.wallet-svg-ani-2 {
    -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                         animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
            animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                 animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 1137.8345947265625px;
      stroke-dasharray: 1137.8345947265625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1137.8345947265625px;
    }
  }
  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 1137.8345947265625px;
      stroke-dasharray: 1137.8345947265625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1137.8345947265625px;
    }
  }
  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
.wallet-svg-ani-3 {-webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 2903.409423828125px;
      stroke-dasharray: 2903.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2903.409423828125px;
    }
  }
  @keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 2903.409423828125px;
      stroke-dasharray: 2903.409423828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2903.409423828125px;
    }
  }
  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_3_");
    }
  }
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#SVGID_3_");
    }
  }
.wallet-svg-ani-4 {-webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both, animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-5 {
    0% {
      stroke-dashoffset: 347.800048828125px;
      stroke-dasharray: 347.800048828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 347.800048828125px;
    }
  }
  @keyframes animate-svg-stroke-5 {
    0% {
      stroke-dashoffset: 347.800048828125px;
      stroke-dasharray: 347.800048828125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 347.800048828125px;
    }
  }
  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(0, 0, 0);
    }
  }
.wallet-svg-ani-5 {-webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-6 {
    0% {
      stroke-dashoffset: 50.22715377807617px;
      stroke-dasharray: 50.22715377807617px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 50.22715377807617px;
    }
  }
  @keyframes animate-svg-stroke-6 {
    0% {
      stroke-dashoffset: 50.22715377807617px;
      stroke-dasharray: 50.22715377807617px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 50.22715377807617px;
    }
  }
  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
.wallet-svg-ani-6 {
    -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
                         animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
            animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
                 animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-7 {
    0% {
      stroke-dashoffset: 249.46725463867188px;
      stroke-dasharray: 249.46725463867188px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 249.46725463867188px;
    }
  }
  @keyframes animate-svg-stroke-7 {
    0% {
      stroke-dashoffset: 249.46725463867188px;
      stroke-dasharray: 249.46725463867188px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 249.46725463867188px;
    }
  }
  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
.wallet-svg-ani-7 {
    -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
                         animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
            animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
                 animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-8 {
    0% {
      stroke-dashoffset: 276.821533203125px;
      stroke-dasharray: 276.821533203125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 276.821533203125px;
    }
  }
  @keyframes animate-svg-stroke-8 {
    0% {
      stroke-dashoffset: 276.821533203125px;
      stroke-dasharray: 276.821533203125px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 276.821533203125px;
    }
  }
  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  .wallet-svg-ani-8 {
    -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
                         animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
            animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
                 animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-9 {
    0% {
      stroke-dashoffset: 257.07763671875px;
      stroke-dasharray: 257.07763671875px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 257.07763671875px;
    }
  }
  @keyframes animate-svg-stroke-9 {
    0% {
      stroke-dashoffset: 257.07763671875px;
      stroke-dasharray: 257.07763671875px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 257.07763671875px;
    }
  }
  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
.wallet-svg-ani-9 {
    -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
                         animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
            animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
                 animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;animation-play-state: paused;}
  @-webkit-keyframes animate-svg-stroke-10 {
    0% {
      stroke-dashoffset: 1998.9228515625px;
      stroke-dasharray: 1998.9228515625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1998.9228515625px;
    }
  }
  @keyframes animate-svg-stroke-10 {
    0% {
      stroke-dashoffset: 1998.9228515625px;
      stroke-dasharray: 1998.9228515625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1998.9228515625px;
    }
  }
  @-webkit-keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  @keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(255, 255, 255);
    }
  }
.wallet-svg-ani-10 {-webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;animation-play-state: paused;}

/*직퀘스트 애니메이션*/
 @-webkit-keyframes animate-zig-stroke-1 {
    0% {
      stroke-dashoffset: 156.6262664794922px;
      stroke-dasharray: 156.6262664794922px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 156.6262664794922px;
    }
  }
  @keyframes animate-zig-stroke-1 {
    0% {
      stroke-dashoffset: 156.6262664794922px;
      stroke-dasharray: 156.6262664794922px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 156.6262664794922px;
    }
  }
  @-webkit-keyframes animate-zig-fill-1 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  @keyframes animate-zig-fill-1 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
.svg-zig-1 {-webkit-animation: animate-zig-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,animate-zig-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;animation: animate-zig-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,animate-zig-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;animation-play-state: paused;}
  @-webkit-keyframes animate-zig-stroke-2 {
    0% {
      stroke-dashoffset: 47.488304138183594px;
      stroke-dasharray: 47.488304138183594px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 47.488304138183594px;
    }
  }
  @keyframes animate-zig-stroke-2 {
    0% {
      stroke-dashoffset: 47.488304138183594px;
      stroke-dasharray: 47.488304138183594px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 47.488304138183594px;
    }
  }
  @-webkit-keyframes animate-zig-fill-2 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  @keyframes animate-zig-fill-2 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
.svg-zig-2 {
    -webkit-animation: animate-zig-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                         animate-zig-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
            animation: animate-zig-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                 animate-zig-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;animation-play-state: paused;}
  @-webkit-keyframes animate-zig-stroke-3 {
    0% {
      stroke-dashoffset: 2714px;
      stroke-dasharray: 2714px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2714px;
    }
  }
  @keyframes animate-zig-stroke-3 {
    0% {
      stroke-dashoffset: 2714px;
      stroke-dasharray: 2714px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2714px;
    }
  }
  @-webkit-keyframes animate-zig-fill-3 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint0_linear_782_582");
    }
  }
  @keyframes animate-zig-fill-3 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint0_linear_782_582");
    }
  }
.svg-zig-3 {
    -webkit-animation: animate-zig-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
                         animate-zig-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
            animation: animate-zig-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
                 animate-zig-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both; animation-play-state: paused;}
  @-webkit-keyframes animate-zig-fill-4 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint1_linear_782_582");
    }
  }
  @keyframes animate-zig-fill-4 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint1_linear_782_582");
    }
  }
.svg-zig-4 {
    -webkit-animation:animate-zig-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
            animation:animate-zig-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;animation-play-state: paused;}
  @-webkit-keyframes animate-zig-fill-5 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint2_linear_782_582");
    }
  }
  @keyframes animate-zig-fill-5 {
    0% {
      fill: transparent;
    }
    100% {
      fill: url("#paint2_linear_782_582");
    }
  }
.svg-zig-5 {
-webkit-animation:animate-zig-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
animation:animate-zig-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;animation-play-state: paused;}
  @-webkit-keyframes animate-zig-stroke-6 {
    0% {
      stroke-dashoffset: 125.682617816238px;
      stroke-dasharray: 125.682617816238px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 125.682617816238px;
    }
  }
  @keyframes animate-zig-stroke-6 {
    0% {
      stroke-dashoffset: 125.682617816238px;
      stroke-dasharray: 125.682617816238px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 125.682617816238px;
    }
  }
  @-webkit-keyframes animate-zig-fill-6 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  @keyframes animate-zig-fill-6 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
.svg-zig-6 {
    -webkit-animation: animate-zig-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
                         animate-zig-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
            animation: animate-zig-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
                 animate-zig-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;animation-play-state: paused;}
  @-webkit-keyframes animate-zig-stroke-7 {
    0% {
      stroke-dashoffset: 59.97633313011363px;
      stroke-dasharray: 59.97633313011363px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 59.97633313011363px;
    }
  }
  @keyframes animate-zig-stroke-7 {
    0% {
      stroke-dashoffset: 59.97633313011363px;
      stroke-dasharray: 59.97633313011363px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 59.97633313011363px;
    }
  }
  @-webkit-keyframes animate-zig-fill-7 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  @keyframes animate-zig-fill-7 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  .svg-zig-7 {
    -webkit-animation: animate-zig-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
                         animate-zig-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
            animation: animate-zig-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
                 animate-zig-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;  animation-play-state: paused;}
  @-webkit-keyframes animate-zig-stroke-8 {
    0% {
      stroke-dashoffset: 1893.3837890625px;
      stroke-dasharray: 1893.3837890625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1893.3837890625px;
    }
  }
  @keyframes animate-zig-stroke-8 {
    0% {
      stroke-dashoffset: 1893.3837890625px;
      stroke-dasharray: 1893.3837890625px;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1893.3837890625px;
    }
  }
  @-webkit-keyframes animate-zig-fill-8 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
  @keyframes animate-zig-fill-8 {
    0% {
      fill: transparent;
    }
    100% {
      fill: rgb(45, 130, 250);
    }
  }
.svg-zig-8 {
    -webkit-animation: animate-zig-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
                         animate-zig-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
            animation: animate-zig-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
                 animate-zig-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;}
.platform .zig-ani-wrap svg{position: absolute;right: 0;top: -500px;animation-play-state: paused;}
.platform .pm:hover .svg-elem-1,.platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-1, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-2, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-3, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-4, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-5, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-6, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-7, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-8, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-9, .platform .platform-ziqwallet .pm-b:hover .wallet-svg-ani-10,.platform .pm:hover .svg-zig-1, .platform .pm:hover .svg-zig-2, .platform .pm:hover .svg-zig-3, .platform .pm:hover .svg-zig-4, .platform .pm:hover .svg-zig-5,.platform .pm:hover .svg-zig-6,.platform .pm:hover .svg-zig-7,.platform .pm:hover .svg-zig-8 {animation-play-state: running;}  
/*콘텍트*/
.contact header{background-color: inherit;}
.contact .contact-box{width: calc(100% / 2);height: fit-content;}
.contact .contact-box:last-child{border-left: 1px solid #808080;padding-left: 140px;color: #808080;}
.contact .map-bt{width: 100%;height: 440px;border-radius: 15px;background-color: #000;}
.contact .contact-wrap{padding-top: 144px;}
.contact .contact-wrap > h1{font-size: 64px;font-weight: bolder;padding: 20px 0 185px 0;}
.contact .map-top, .contact .contact-mid{padding:80px 0 ;}
.contact .map-top p{padding-right: 32px;}
.contact .contact-bt img{width: 64px;}
.contact .contact-bt-box:last-child, .career .recurit-box:last-child{margin-bottom: 200px;}
.contact .contact-bt-box a{font-size: 32px;font-weight: 500;}
#map{border-radius: 15px;width: 100%;height: 100%;}

/*푸터*/
footer{width: 100%;height: 590px;padding: 80px 0 40px 0;background-color: #191919;position: relative;color: #000;position: relative;}
.footer-black{position: absolute;width: 100%;height: 590px;top: 0;left: 0; background-color: #fff;z-index: 1;opacity:1;}
.footer-inner{width: 100%;z-index: 2;position: absolute;}
.footer-inner h1{font-size: 32px;font-weight: 900;}
.footer-inner .f-info-box{padding-top: 32px;}
.footer-inner .f-info-wrap .f-info-box{padding-top: 35px;padding-left: 140px;}
.footer-inner .f-info-wrap .f-info-box:first-child{padding-left: 0;}
.footer-inner .f-info-box p{font-size: 16px;font-weight: 500;}
.footer-inner .f-info-box p:last-child{padding-top: 18px;}
.footer-inner .copy-r{font-size: 13px;color: #999999;padding-top: 204px;padding-bottom: 40px;}
.footer-inner .select-wrap{width: 247px;height: 48px;box-shadow: 0 0 0 2px #000 inset; cursor: pointer;font-size: 14px;font-weight: bold;box-sizing: border-box;}
.footer-inner .select-wrap .select{width: 100%;border: 2px solid #191919; height: 48px;background-color: #191919;color: #fff;}
.footer-inner .select-wrap .select a{display: block;width: 100%; color: #fff;padding: 14px 10px;}
.footer-inner .select-wrap .select:first-child{height: 46px;border: none; background-color: inherit;color: #191919;padding: 14px 10px;}
.footer-inner .select-wrap li{display: none;}
.footer-inner .arrow.activeArrow{transform:rotate(315deg);}
.go-btn1{width: 20px;background-color: inherit;float: right;padding-top: 160px;}
.about .about-box{z-index: 2;}
.up-box{height: 20px;position: fixed;left: 50%;transform: translateX(-50%);bottom: 44px;z-index: 9999999;opacity: 0;transition: 0.5s;display: none;}
.up-box .go-btn{width: 20px;height: 20px;background-image: url(../img/arrowUpW.svg); background-color: inherit;float: right;position: absolute;right: 0%;}
.up-box.show{opacity: 1;display: block;}
.up-box .go-btn.b{background-image: url(../img/arrowUp.svg);}
/*swiper*/
.slide-container{position: relative;}
.swiper-navigation{display: block;position: absolute;right: 0;top: 10px;z-index: 9;text-align: right;line-height: 0;}
.swiper-button-next, .swiper-button-prev{position: absolute;left: unset !important;top: -50px !important;}
.swiper-button-prev{right: 32px; background-color: inherit;font-size: 0;background-image: url(../img/slickarrow.svg);width: 24px;height: 24px;background-size: cover;transform: rotate(180deg);}
.swiper-button-next{right: 0; background-color: inherit;font-size: 0;background-image: url(../img/slickarrow.svg);width: 24px;height: 24px;background-size: cover;transform: rotate(0deg);}
.slick-disabled{background-image: url(../img/slickarrowN.svg) !important;width: 24px;height: 24px;background-size: cover;}
.slick-next.slick-disabled{transform: rotate(180deg) !important;}
.slick-prev.slick-disabled{transform: rotate(0deg) !important;}
.slick-list{overflow: visible;}
.mySwiper2{position: relative;}
.about-real .swiper-navigation{display: none;}
.mySwiper2 .swiper-navigation {top: 160px;}

.main .main-right .platform-wrap.mob, .main .main-right .mySwiper3 .swiper-navigation{display: none;}

#log{
	position:fixed;
	top:0;
	left:0;
	width:100px;
	height:50px;
	background-color:rgba(0,0,0,0.7);
	color:white;
	text-align:center;
	line-height:50px;
    z-index: 9999999999999999999999;
}
.about ul .since .mb{display: none;}
.footer-start.footer-right.fff.flex.column{z-index: 1;}

/*반응형*/
@media (max-width: 1920px){
    .container{padding:0 7.5rem;width: 100%;}
    .up-box .go-btn{right: 7.5rem;}
    .platform .platform-ziqworld .pt{padding-top: 80px;}
    .wallet-ani-wrap svg{right: -265px;top: -455px;}
    .main .main-left, .main .main-empty{padding: 0 3rem;}
    .platform .platform-ziqwallet .pt{background-size: 130%;}
}
@media (max-width: 1420px){
    .main .main-right .intro2 span{display: none;}
    .about .value-top{font-size: 32px;}
    .article-txt{font-size: 22px;}
    .about .ani-box-top{max-width: unset;min-width: unset;}
    .about-real .swiper-navigation{display: block;}
    .platform .pm .circle-box{background-size: 100%;min-width: 430px;min-height: 430px;max-width: 430px;max-height: 430px;}
    .wallet-ani-wrap svg{right: -365px;top: -227px;}
    .platform .zig-ani-wrap svg{right: -270px;}
    .platform .pm-t-right .link-txt > a{font-size: 19px;}
    .platform-sub-title, .platform-sub-title2{font-size: 35px;}
    .platform .platform-ziqwallet .pt{background-size: 170%;}
}
@media (max-width: 1280px){
  .container, .main .h100top{padding: 0 5rem;}
  .up-box .go-btn{right: 5rem;}
  .h100top{height: 100%;}
  .main .main-left, .main .main-empty{display: none;}
  .main .main-right .intro2 span, .main .main-right .mySwiper3 .swiper-navigation{display: block;}
  .main .main-bt{flex-direction: column;}
  .main .main-bt .bt-intro:last-child{padding-top: 120px;}
  .main .main-mid{padding-top: 160px;}
  .main .main-bt{padding: 120px 0 180px 0;}
  .main .main-right .platform-wrap.web{display: none;}
  .main .main-right .platform-wrap.mob{display: flex;}
  .main .mySwiper3{position: relative;}
  .main-right.flex.column.space{width: 100%;overflow: hidden;padding: unset;}
  .career .work-wrap .work-box{width: calc(100% / 2 - 20px);}
  .platform .pm-t{display: block;}
  .platform .pm-t .pm-t-right{padding-top: 120px;}
  .platform .pm-t{padding-bottom: 140px;}
  .platform .pm-b-line-box{height: 207px;}
  .platform .pm .pm-graph{bottom: -8%;}
  .platform .pm .circle-box{min-width: 380px;min-height: 380px;max-width: 380px;max-height: 380px;}
  .wallet-ani-wrap svg{top: -175px;}
  .platform .pb button.next-btn{padding: 113px 127px;width: 864px;height: 400px;}
}
@media (max-width: 1024px){
  footer{padding: 64px 0 41px 0;height: 430px;}
  .footer-inner .copy-r{padding-top: 80px;padding-bottom:41px;}
  .footer-black{height: 430px;}
  .go-btn1{padding-top: 40px;}
  .footer-inner .f-info-wrap .f-info-box{padding-top: 24px;}
  .about .about-vision, .about .about-value, .about .about-partnership, .about .about-history{padding-top: 120px;}
  .about .about-ani-wrap{padding: 160px 0 280px 0;}
  .about .about-value-box-wrap{display: block;}
  .about .about-value-box{width: 100%;padding-bottom: 200px;}
  .about .about-value-box:last-child{padding-bottom: 280px;}
  .about .logo-ani-wrap .blur-box{width: 20%;}
  .about ul .since{display: flex;}
  .about ul .since .mb{display: block;}
  .about .since-ani.web{display: none;}
  .about .history-article ul{flex-direction: column;}
  .career .work-wrap{display: block;}
  .career .work-wrap .work-box{width: 100%;padding: 60px;}
  .career .value-top{font-size: 40px;}
  .career .article-txt{font-size: 24px;}
  .career .work-wrap .work-box:first-child{margin-bottom: 40px;}
  .career .about-vision{padding-bottom: 280px !important;}
  .career .slide-container{padding-bottom: 0;}
  .career .about-value{display: block;}
  .career .article-title{padding-bottom: 0 !important;}
  .career .recurit-box:last-child{width: 100%;margin-top: 111px;padding-bottom: 200px;margin-bottom: 0;}
  .platform .pm .pm-graph{left: -32%;}
  .platform .pm .circle-box{min-width: 300px;min-height: 300px;max-width: 300px;max-height: 300px;}
  .platform .platform-ziqwallet .pt{background-size: 250%;}
  .wallet-ani-wrap svg{top: -260px;right: -571px;}
  .platform .zig-ani-wrap svg{right: -395px;}
  .platform .pb{display: block;padding-left: 5rem;padding-right: 5rem;}
  .platform .pb button.next-btn{width: 100%;height: 160px;padding: 30px 40px;}
}
@media (max-width: 960px){}
@media (max-width: 880px){}
@media (max-width: 834px){/*복리후생 모바일버전*/
  .main .main-right .intro2 span{display: none;}
  footer .footerTop-wrap, footer .f-info-wrap{flex-direction: column;}
  .footer-inner .f-info-wrap .f-info-box{padding-top: 40px;padding-left: 0;}
  .footer-inner .select-wrap{width: 100%;margin-top: 20px;}
  .footer-inner .copy-r{padding-top: 94px;}
  .main .main-right .intro2 h2, .main .main-right .intro2 h3{font-size: 20px;word-break: keep-all;}
  .main .main-mid, .main .main-bt .bt-intro:last-child{padding-top: 80px;}
  .main .main-bt{padding:80px 0 120px 0;}
  .main .main-right .intro1{padding-bottom: 18px;}
  .main .main-right .intro1{padding-bottom: 12px;}
  footer{padding: 40px 0;height: 635px;}
  .footer-black{height: 635px;}
  .main .platform-box .open-wrap{padding: 40px 15px 60px 20px;}
  .main .main-mid .platform-title{font-size: 15px;padding-bottom: 46px;}
  .main .platform-box .open-wrap p span{margin-left: 0;padding-top: 20px;}
  .main .platform-box .open-wrap p{display: flex;flex-direction: column;}
  header{height: 52px;}
  header .hamMenuPw, header .hamMenu, header .header-logo img{width: 24px;height: 24px;}
  header .hamMenu{padding: 5px 2px;}
  header .header-logo a{display: flex;align-items: center;}
  .footer-inner .f-info-box p:last-child{padding-top: 5px;}
  .slide-txt .slide-txt-top h1{font-size: 24px;}
  .slide-txt .slide-txt-mid p{font-size: 15px;}
  .about .about-vision, .about .about-value, .about .about-partnership, .about .about-history{padding-top: 80px;}
  .article-txt br{display: none;}
  .about .about-ani-wrap {padding: 180px 0 280px 0;}
  .article-title, .about .value-sub-title{font-size: 20px;}
  .article-txt, .about .value-article{font-size: 15px;}
  .about .about-ani-wrap{padding: 124px 0 96px 0;}
  .swiper-button-prev{right: 52px;}
  .swiper-button-next, .swiper-button-prev{margin-top: -32px !important;}
  .about .ani-box-bt p{font-size: 15px;}
  .line{margin: 24px 0 22px 0;}
  .about .value-article{padding-top: 18px;}
  .about .about-value-box{padding-bottom: 80px;}
  .about .since{font-size: 40px;padding: 0;}
  .about-history .article-title{padding-bottom: 80px;}
  .about .history-article li:first-child, .about .history-article li.first{padding-top: 40px;}
  .about .history-article ul.s1{margin-bottom: 80px;}
  .about .history-article ul.s6{padding-top: 80px;}
  .about .about-box ul .about-menu a{font-size: 11px;}
  .about .logo-ani-box img{height: 32px;}
  .about .history-article li{font-size: 15px;}
  .career .slide-txt .slide-txt-mid p{font-size: 15px;}
  .career .value-top{font-size: 34px;}
  .career .about-vision{padding-bottom: 120px !important;}
  .career .article-txt{font-size: 15px;}
  .career .title{font-size: 20px;}
  .career .benefit-box{min-height: 250px;width: 250px !important;padding: 30px;}
  .career .title{font-size: 20px; padding: 12px 0;}
  .career .swiper-navigation{top: 38px;}
  .career .recurit-box:last-child{margin-top: 33px;}
  .fs-80{font-size: 40px;}
  .platform-title{font-size: 24px;}
  .platform .pm-t .platform-sub-title{font-size: 15px;}
  .platform .pm-t-right .link-txt > a > p{font-size: 24px;}
  .platform .pm .pm-graph{left: -740px;bottom: -12%;}
  .platform .pm-b-line-box{border: none;}
  .platform .pm-b-line-box > .container{flex-direction: column;align-items: flex-start;}
  .platform-sub-title, .platform-sub-title2{font-size: 24px;}
  .platform .pm-t .pm-t-right{padding-top: 80px;}
  .platform .pm-t{padding-bottom: 120px;}
  .platform button .platform-sub-title{font-size: 20px;}
  .platform .pb .next-btn > .flex{align-items: flex-start;flex-direction: column;}
  .platform .pb .next-btn .fs-13{padding-left: 0;padding-top: 16px;}
  .platform .pb .next-btn .sub-title-gray{padding-bottom: 8px;}
  .platform .pm .circle-box{min-width: 250px;min-height: 250px;max-width: 250px;max-height: 250px;}
  .wallet-ani-wrap svg{top: -425px;width: 100%;right: 0;}
  .platform .wallet-ani-wrap{height: 385px;}

}
@media (max-width: 720px){
  .container, .main .h100top{padding: 0 1.5rem;}
  .up-box .go-btn{right: 1.5rem;}
  .mySwiper2{overflow: hidden;}
  .slide-txt .slide-txt-top, .slide-txt .slide-txt-mid{padding: 0 1.5rem;}
  .career .work-wrap .work-box{padding:40px}
}
@media (max-width: 580px){
  .slide-txt .slide-txt-mid{word-break: keep-all;}
  .slide-txt .slide-txt-mid br{display: none;}
  .career .work-wrap .work-box{min-height: 360px;}
  .about .value-top{font-size: 20px;text-align: center;}
  .career .article-txt{font-size: 15px;}
  .about .value-top{padding-bottom: 20px !important;}
  .career .recurit-list li.menu p:nth-child(3), .career .recurit-list li.title p:nth-child(3){display: none;}
  .career .recurit-list .article-box p{font-size: 15px;}
  .career .recurit-article-title{font-size: 16px;}
  .career .recurit-list .slide-article{padding: 0 1.5rem;padding-top: 60px;}
  .career .recurit-list li.menu p, .career .recurit-list li.title p{font-size: 15px;}
  .career .slide-article .recurit-article{padding-right: 1.5rem;}
}
@media (max-width: 479px){
  .main .main-mid .platform-title{font-size: 13px;}
  .footer-inner .f-info-box p{font-size: 14px;}
}
@media (max-width: 400px){
  .about .about-box .about-nav ul{overflow-x: scroll;}
}
@media (max-width: 360px){}