

button {font-family: "Noto Sans KR";font-weight: 400;font-size: 18px;color: #111;text-align: left;background: none;border: 0;cursor: pointer;/* outline-style: none; */ /* 2022-09-30 웹 접근성 */overflow: visible;}
/*********** layout ***********/
.layout1 { position: relative;max-width: 1284px;min-width: 280px;padding: 0 30px;margin: 0 auto;}
#wrapper {position: relative;}#contents {position: relative;width: 100%;max-width: 1920px;min-width: 280px;margin: 0 auto;padding-top: 120px;}
.swiper-pagination.type2 {position: static;height: 6px;}
.swiper-pagination.type2 .swiper-pagination-bullet {width: 6px;height: 6px;border-radius: 50%;background-color: #fff;opacity: 1;margin: 0 4px;-webkit-transition: .3s;transition: .3s;vertical-align: top;}
.swiper-pagination.type2 .swiper-pagination-bullet-active {background-color: #000;}
.swiper-pagination.type3 {position: static;height: 12px;}
.swiper-button-disabled {opacity: 0 !important;}
.swiper-button-prev.type2,
.swiper-button-next.type2 {display: inline-block;position: static;width: 32px;height: 28px;opacity: 1;margin-top: 0;vertical-align: top;}
.swiper-button-prev.type2 {background-image: url("/assets/app/img/common/ic_arrow5.png");background-repeat: no-repeat;background-size: auto;background-position: center;}
.swiper-button-next.type2 {background-image: url("/assets/app/img/common/ic_arrow5.png");background-repeat: no-repeat;background-size: auto;background-position: center;-webkit-transform: translateX(30px) rotate(180deg);-ms-transform: translateX(30px) rotate(180deg);transform: translateX(30px) rotate(180deg);}

.swiper-tools .swiper-pagination {position: static;display: inline-block;width: 140px;height: 2px;background-color: #ccc;vertical-align: middle;}
.swiper-tools .swiper-pagination .swiper-pagination-progressbar-fill {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-webkit-transform-origin: left top;-ms-transform-origin: left top;transform-origin: left top;background-color: #111;}
.swiper-tools .swiper-count {display: inline-block;vertical-align: middle;margin: 0 5px;font-family: "HGGGothicssi";font-weight: 800;font-size: 18px;color: #ccc;}
.swiper-tools .swiper-count span {display: inline-block;font-family: inherit;font-weight: inherit;font-size: inherit;line-height: inherit;letter-spacing: inherit;text-align: center;opacity: .5;}
.swiper-tools .swiper-count span.active_num {width: 30px;color: #111;opacity: 1;}
.swiper-tools .btn-swiper-play {display: inline-block;vertical-align: middle;margin-left: 15px;-webkit-transition: .3s;transition: .3s;width: 12px;}
.swiper-tools .btn-swiper-play span {display: block;text-indent: -99999px;overflow: hidden;opacity: .5;}
.swiper-tools .btn-swiper-play.paused span {width: 11px;height: 11px;border-left: 2px solid #ccc;border-right: 2px solid #ccc;}
.swiper-tools .btn-swiper-play.play span {width: 0px;height: 0px;border-right: 6px solid transparent;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-left: 6px solid #ccc;}

/*------------------- header ---------------------*/



/*------------------- 메인 ---------------------*/


#main .sect_tit {font-family: "HGGGothicssi";font-weight: 800;font-size: 52px;color: #111;}

#main .sect_tit.c_wh {color: #fff;}


#main .slide_tab_align {position: static;margin: 35px 0 25px;}

#main .main_slide_tabmenu .tab {position: relative;width: auto;font-family: "HGGGothicssi";font-weight: 400;font-size: 18px;color: #a6a6a6;padding-left: 15px;margin-right: 30px;cursor: pointer;}

#main .main_slide_tabmenu .tab:last-child {
margin-right: 0;
}

#main .main_slide_tabmenu .tab::before {
content: "";
position: absolute;
left: 0;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
width: 5px;
height: 5px;
background: #efefef;
border-radius: 50%;
}

#main .main_slide_tabmenu .tab.active {
color: #111;
}

#main .main_slide_tabmenu .tab.active::before {
background: #4e2bf4;
}



/*------------------- H매거진 ---------------------*/

#main .sect_magazine {
position: relative;
padding: 160px 0;
overflow: hidden;
}

#main .sect_magazine .mag_thumbnail {
position: absolute;
left: 50%;
top: 165px;
margin-left: -92px;
width: 1050px;
overflow: hidden;
}

#main .sect_magazine .mag_thumbnail .swiper-container {
width: calc(705px + 20px);
overflow: visible;
margin: 0;
padding: 0 20px 20px 0;
}

#main .sect_magazine .mag_thumbnail .swiper-slide-active {
opacity: 1;
}

#main .sect_magazine .mag_thumbnail .swiper-slide-active .thumbnail {
-webkit-box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3);
box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3);
}

#main .sect_magazine .mag_thumbnail .swiper-slide-active .thumbnail .img {
-webkit-transform: scale(1.2) rotate(0.1deg);
-ms-transform: scale(1.2) rotate(0.1deg);
transform: scale(1.2) rotate(0.1deg);
}

#main .sect_magazine .mag_thumbnail .swiper-slide-prev {
opacity: 0;
-webkit-transition: .3s;
transition: .3s;
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video button {
width: 100%;
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video .thumbnail {
position: relative;
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video .thumbnail::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #000;
opacity: 0.2;
z-index: 1;
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video .thumbnail::after {
content: "";
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 66px;
height: 66px;
background-image: url("/assets/app/img/common/ic_play1.png");
background-repeat: no-repeat;
background-size: auto;
background-position: calc(50% + 3px) 50%;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 50%;
-webkit-transition: .3s;
transition: .3s;
z-index: 1;
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video:hover .thumbnail::after {
background-color: rgba(85, 99, 255, 0.85);
}

#main .sect_magazine .mag_thumbnail .swiper-slide.video .mo_video_link {
display: none;
}

#main .sect_magazine .mag_thumbnail .thumbnail {
position: relative;
border-radius: 16px;
overflow: hidden;
-webkit-transition: -webkit-box-shadow .3s .3s;
transition: -webkit-box-shadow .3s .3s;
transition: box-shadow .3s .3s;
transition: box-shadow .3s .3s, -webkit-box-shadow .3s .3s;
z-index: 0;
}

#main .sect_magazine .mag_thumbnail .thumbnail .ratio {
width: 100%;
}

#main .sect_magazine .mag_thumbnail .thumbnail .img {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-transition: 5s .2s linear;
transition: 5s .2s linear;
}

#main .sect_magazine .mag_text {
width: calc(50% - 15%);
height: 460px;
padding-top: 70px;
margin-top: 45px;
}

#main .sect_magazine .mag_text .swiper-container {
width: 100%;
margin: 0;
}

#main .sect_magazine .mag_text .swiper-slide .inner > * {
opacity: 0;
-webkit-transform: translateX(10px);
-ms-transform: translateX(10px);
transform: translateX(10px);
-webkit-transition: opacity .15s ease-in-out, -webkit-transform .15s ease-in-out;
transition: opacity .15s ease-in-out, -webkit-transform .15s ease-in-out;
transition: transform .15s ease-in-out, opacity .15s ease-in-out;
transition: transform .15s ease-in-out, opacity .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

#main .sect_magazine .mag_text .swiper-slide-active .inner > * {
opacity: 1;
-webkit-transform: none;
-ms-transform: none;
transform: none;
}

#main .sect_magazine .mag_text .tag {
font-family: "HGGGothicssi";
font-weight: 600;
font-size: 18px;
color: #4e2bf4;
}

#main .sect_magazine .mag_text .tit {
font-family: "HGGGothicssi";
font-weight: 800;
font-size: 36px;
color: #111;
line-height: 51px;
}

#main .sect_magazine .mag_text .desc {
font-family: "Noto Sans KR";
font-weight: 400;
font-size: 18px;
color: #999;
line-height: 30px;
letter-spacing: -0.8px;
margin-top: 15px;
}

#main .sect_magazine .mag_text .mo_video_link {
display: none;
}

#main .sect_magazine .slide_navi {
position: absolute;
left: 30px;
bottom: 0;
}
