
button {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 18px;
  color: #111;
  text-align: left;
  background: none;
  border: 0;
  cursor: pointer;
  /* outline-style: none; */ /* 2022-09-30 웹 접근성 */
  overflow: visible;
}
