<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="buisnessSection active">
        <div class="yellowBackground" style="transform: translateX(0px); opacity: 1; border-radius: 64px 0px 0px 192px;"></div>
        <div class="titleWrap">
            <div class="title">
                <div class="description">
                    <h1 class="sectionName">창업 안내</h1>
                    <h2>
                        이마트24의 스마트한 창업설계를 받아보세요.
                    </h2>
                </div>
                <div class="buttonWrap">
                    <div class="textButton">
                        <!-- <span class="buttonText">전체보기</span>
                        <div class="icon">
                            <img
                                src="/assets/assets/imgs/more.png"
                                alt="전체보기"
                            />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="buisnessMenus">
            <ul class="buisnessMenuList">
                <li>
<!--                                <a th:href="@{/founded/guide/process}">-->
                    <a href="/founded/guide/process" class="titleWrap">
                        <div class="description">
                            <div class="title">
                                <h1>창업 가이드</h1>
                                <div class="iconWrap">
                                    <img src="/assets/assets/imgs/circleArrows.png" alt="바로가기">
                                </div>
                            </div>
                            <h2 class="caption">
                                이마트24는 경영주님과<br>
                                협력적 가치를 공유합니다.
                            </h2>
                        </div>
                    </a>
                    <a href="/founded/guide/process" class="icon3dWrap" style="max-width: 100%; opacity: 1; transform: translateY(0%);">
                        <!-- 230 * 230으로 넣을것 -->
                        <!-- 아이콘도 230 *230 으로 만들어서 뽑을것 -->
                        <div class="icon">
                            <img src="/assets/assets/imgs/idea.png" alt="">
                        </div>
                    </a>
<!--                                </a>-->
                </li>
                <li>
<!--                                <a th:href="@{/founded/brief}">-->
                    <a href="/founded/brief" class="titleWrap">
                        <div class="description">
                            <div class="title">
                                <h1>창업 설명회</h1>
                                <div class="iconWrap">
                                    <img src="/assets/assets/imgs/circleArrows.png" alt="바로가기">
                                </div>
                            </div>
                            <h2 class="caption">
                                경영주와 함께 하는<br>
                                창업 설명회를 신청하세요.
                            </h2>
                        </div>
                    </a>
                    <div class="icon3dWrap" style="max-width: 100%; opacity: 1; transform: translateY(0%);">
                        <!-- 230 * 230으로 넣을것 -->
                        <!-- 아이콘도 230 *230 으로 만들어서 뽑을것 -->
                        <div class="icon">
                            <img class="calender" src="/assets/assets/imgs/calender3d.png" alt="">
                            <img class="coins" src="/assets/assets/imgs/calenderCoins3d.png" alt="">
                            <img class="coin" src="/assets/assets/imgs/calenderCoin3d.png" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <a class="titleWrap" href="/founded/consult">
                        <div class="description">
                            <div class="title">
                                <h1>창업 상담</h1>
                                <div class="iconWrap">
                                    <img src="/assets/assets/imgs/circleArrows.png" alt="바로가기">
                                </div>
                            </div>
                            <h2 class="caption">
                                창업 전문 컨설턴트의<br>
                                상담을 받아보세요.
                            </h2>
                        </div>
                    </a>
                    <a href="/founded/consult" class="icon3dWrap" style="max-width: 100%; opacity: 1; transform: translateY(0%);">
                        <!-- 230 * 230으로 넣을것 -->
                        <!-- 아이콘도 230 *230 으로 만들어서 뽑을것 -->
                        <div class="icon">
                            <img src="/assets/assets/imgs/chatBubble.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>